*, ::before,::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: HandWritting;
    src: url(../font/BillionDreams_PERSONAL.ttf);
}

@font-face {
    font-family: HandWritting2;
    src: url(../font/CallingHeart.ttf);
}

html {
    scroll-behavior: smooth;
    display: flex;
    place-content: center;
    place-items: center;
    overflow-x: hidden;
}

/* ----------------------------------------------------------------------------------------- */

.banner {
    display: flex;
    flex-direction: column;
    position: relative;


    width: 100vw;
    height: 250px;

    background: url(../img/banner.png);
    background-position: center center;
    background-size: cover;

    box-shadow: #000000c4 0px 6px 20px 20px;

    z-index: 999;
}

.banner .title {
    display: flex;
    place-content: center;
    place-items: center;
    position: relative;

    width: 100%;
    height: 100%;

    color: #ffffff;
    font-size: 100px;
    font-family: HandWritting;
    text-shadow: #0000005d 5px 5px 0px;
    /* font-family: HandWritting2; */
}

.banner .socialNetworks {
    position: absolute;
    top: 0;
    left: 20px;
    width: 100px;
    height: 100%;

    display: flex;
    flex-direction: column;

}

.banner .socialNetworks nav {
    width: 100%;
    position: relative;
}

.banner .socialNetworks nav ul {
    display: flex;
    flex-direction: column;
    list-style: none;
    position: relative;
    align-items: center;
    margin: 20px 0;
}

.banner .socialNetworks nav ul li {
    padding: 10px;
    margin: 7px;
    background-color: #ffffffb0;
    height: calc(100% / 3);
    width: 100%;
    transition: all .5s;
    border-radius: 999px;
    width: 60px;
    height: 60px;
}

.banner .socialNetworks nav ul li:hover {
    background-color: #ffffff;
    transform: translateX(10px);
}

.banner .socialNetworks nav ul li a {
    display: flex;
    place-content: center;
    place-items: center;
    width: 100%;
    height: 100%;
}

.banner .socialNetworks nav ul li img {
    width: 70%;
    height: 70%;
}

.banner .navBar {
    width: 100%;
    display: flex;
    place-content: center;
    place-items: center;
}
.banner .navBar nav {
    width: 100%;
    height: auto;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-transform: capitalize;
    max-width: 1024px;
}

.banner .navBar nav ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    position: relative;
}

.banner .navBar nav ul li {
    padding: 10px;
    background-color: #ffffffb0;
    width: calc(100% / 3);
    text-align: center;
    transition: all .5s;
}

.banner .navBar nav ul li:nth-child(1) {
    border-radius: 10px 0 0 0;
}

.banner .navBar nav ul li:nth-last-child(1) {
    border-radius: 0 10px 0 0;
}

.banner .navBar nav ul li:hover {
    transform: translateY(-10px);
    background-color: #ffffff;
}

.banner .navBar nav ul li a, .banner .navBar nav ul li a:visited {
    color: #000;
    text-decoration: none;
}

/* ----------------------------------------------------------------------------------------- */


.article1 {
    position: relative;
    margin: 0 auto;
    display: flex;
    width: 100%;
    height: 100vh;
    max-width: 1920px;
}

.article1 .halfImgLeft {
    width: fit-content;
    height: 100%;
    position: relative;
    overflow: hidden;
    display: flex;
}

.article1 .halfImgLeft img {
    height: 100%;
    width: fit-content;
}

/* .article1 .designSquare span:nth-child(1) {
    width: 90%;
    height: 40px;
    background-color: #ffffff;
    position: absolute;
    top: 5%;
    left: 5%;
}
.article1 .designSquare span:nth-child(2) {
    width: 90%;
    height: 40px;
    background-color: #ffffff;
    position: absolute;
    bottom: 5%;
    left: 5%;
}
.article1 .designSquare span:nth-child(3) {
    width: 40px;
    height: 90%;
    background-color: #ffffff;
    position: absolute;
    top: 5%;
    left: 5%;
}
.article1 .designSquare span:nth-child(4) {
    width: 40px;
    height: 90%;
    background-color: #ffffff;
    position: absolute;
    top: 5%;
    right: 5%;
} */

.article1 .textBlocks {
    flex-grow: 2;
    width: 50%;
    height: 100vh;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.article1 .paragrapheTop {
    height: 50vh;
    padding: 20px;
    background-color: #FC98A4;
    display: flex;
    place-content: center;
    place-items: center;
    flex-direction: column;
    color: #ffffff;
}

.article1 .paragrapheTop h2 {
    text-align: center;
    font-size: 50px;
    margin: 20px;
}

.article1 .paragrapheTop p {
    width: 70%;
    text-align: justify;
}

.article1 .textBlocks .carouselContainer {
    height: 50vh;
    width: 100%;
    position: relative;
    display: flex;
    place-content: center;
    place-items: center;
    background-color: #DBDBDB;
}

.carousel {
    height: 80%;
    width: 80%;
    overflow: hidden;
    text-align: center;
    position: relative;
    padding: 0;
    list-style: none;
  }
  .carousel__controls,
  .carousel__activator {
    display: none;
  }
  .carousel__activator:nth-of-type(1):checked ~ .carousel__track {
    transform: translateX(0%);
  }
  .carousel__activator:nth-of-type(1):checked ~ .carousel__slide:nth-of-type(1) {
    transition: opacity 0.5s, transform 0.5s;
    top: 0;
    left: 0;
    right: 0;
    opacity: 1;
    transform: scale(1);
  }
  .carousel__activator:nth-of-type(1):checked ~ .carousel__controls:nth-of-type(1) {
    display: block;
    opacity: 1;
  }
  .carousel__activator:nth-of-type(1):checked ~ .carousel__indicators .carousel__indicator:nth-of-type(1) {
    opacity: 1;
  }
  .carousel__activator:nth-of-type(2):checked ~ .carousel__track {
    transform: translateX(-100%);
  }
  .carousel__activator:nth-of-type(2):checked ~ .carousel__slide:nth-of-type(2) {
    transition: opacity 0.5s, transform 0.5s;
    top: 0;
    left: 0;
    right: 0;
    opacity: 1;
    transform: scale(1);
  }
  .carousel__activator:nth-of-type(2):checked ~ .carousel__controls:nth-of-type(2) {
    display: block;
    opacity: 1;
  }
  .carousel__activator:nth-of-type(2):checked ~ .carousel__indicators .carousel__indicator:nth-of-type(2) {
    opacity: 1;
  }
  .carousel__activator:nth-of-type(3):checked ~ .carousel__track {
    transform: translateX(-200%);
  }
  .carousel__activator:nth-of-type(3):checked ~ .carousel__slide:nth-of-type(3) {
    transition: opacity 0.5s, transform 0.5s;
    top: 0;
    left: 0;
    right: 0;
    opacity: 1;
    transform: scale(1);
  }
  .carousel__activator:nth-of-type(3):checked ~ .carousel__controls:nth-of-type(3) {
    display: block;
    opacity: 1;
  }
  .carousel__activator:nth-of-type(3):checked ~ .carousel__indicators .carousel__indicator:nth-of-type(3) {
    opacity: 1;
  }
  .carousel__activator:nth-of-type(4):checked ~ .carousel__track {
    transform: translateX(-300%);
  }
  .carousel__activator:nth-of-type(4):checked ~ .carousel__slide:nth-of-type(4) {
    transition: opacity 0.5s, transform 0.5s;
    top: 0;
    left: 0;
    right: 0;
    opacity: 1;
    transform: scale(1);
  }
  .carousel__activator:nth-of-type(4):checked ~ .carousel__controls:nth-of-type(4) {
    display: block;
    opacity: 1;
  }
  .carousel__activator:nth-of-type(4):checked ~ .carousel__indicators .carousel__indicator:nth-of-type(4) {
    opacity: 1;
  }
  .carousel__activator:nth-of-type(5):checked ~ .carousel__track {
    transform: translateX(-400%);
  }
  .carousel__activator:nth-of-type(5):checked ~ .carousel__slide:nth-of-type(5) {
    transition: opacity 0.5s, transform 0.5s;
    top: 0;
    left: 0;
    right: 0;
    opacity: 1;
    transform: scale(1);
  }
  .carousel__activator:nth-of-type(5):checked ~ .carousel__controls:nth-of-type(5) {
    display: block;
    opacity: 1;
  }
  .carousel__activator:nth-of-type(5):checked ~ .carousel__indicators .carousel__indicator:nth-of-type(5) {
    opacity: 1;
  }
  .carousel__control {
    height: 30px;
    width: 30px;
    margin-top: -15px;
    top: 50%;
    position: absolute;
    display: block;
    cursor: pointer;
    border-width: 5px 5px 0 0;
    border-style: solid;
    border-color: #FC98A4;
    opacity: 1;
    outline: 0;
    z-index: 3;
  }
  .carousel__control:hover {
    opacity: 1;
  }
  .carousel__control--backward {
    left: 10px;
    transform: rotate(-135deg);
  }
  .carousel__control--forward {
    right: 10px;
    transform: rotate(45deg);
  }
  .carousel__indicators {
    position: absolute;
    bottom: 20px;
    width: 100%;
    text-align: center;
  }
  .carousel__indicator {
    height: 15px;
    width: 15px;
    border-radius: 100%;
    display: inline-block;
    z-index: 2;
    cursor: pointer;
    opacity: 0.35;
    margin: 0 2.5px 0 2.5px;
  }
  .carousel__indicator:hover {
    opacity: 0.75;
  }
  .carousel__track {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 0;
    margin: 0;
    transition: transform 0.5s ease 0s;
  }
  .carousel__track .carousel__slide {
    display: block;
    top: 0;
    left: 0;
    right: 0;
    opacity: 1;
  }
  .carousel__track .carousel__slide:nth-of-type(1) {
    transform: translateX(0%);
  }
  .carousel__track .carousel__slide:nth-of-type(2) {
    transform: translateX(100%);
  }
  .carousel__track .carousel__slide:nth-of-type(3) {
    transform: translateX(200%);
  }
  .carousel__track .carousel__slide:nth-of-type(4) {
    transform: translateX(300%);
  }
  .carousel__track .carousel__slide:nth-of-type(5) {
    transform: translateX(400%);
  }
  .carousel--scale .carousel__slide {
    transform: scale(0);
  }
  .carousel__slide {
    height: 100%;
    position: absolute;
    overflow-y: auto;
    opacity: 0;
  }

  .carousel-container {
    display: inline-block;
  }
  .my-carousel {
    border-radius: 5px;
    margin: 30px;
  }
  .carousel__slide {
    overflow: hidden;
  }
  .carousel--thumb .carousel__indicator {
    height: 30px;
    width: 30px;
  }
  .carousel__indicator {
    background-color: #FC98A4;
  }
  .carousel__slide:nth-of-type(1) {
    background-image: url("../img/pull_gallery1.png");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
  }
  .carousel__slide:nth-of-type(2) {
    background-image: url("../img/pull_gallery2.png");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
  }
  .carousel__slide:nth-of-type(3) {
    background-image: url("../img/pull_gallery3.png");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
  }
  .carousel__slide:nth-of-type(4) {
    background-image: url("../img/pull_gallery4.png");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
  }
  